
@{
    ViewData["Title"] = "PersonalAccount";
}

<h1>PersonalAccount</h1>

<div>
    <div>
        <a class="btn-dark" asp-controller="WorkerAccount" asp-action="ShowMyTools">Show Tools</a>
    </div>
    <div>
        <a class="btn" asp-controller="WorkerAccount" asp-action="ShowMySubmission">Show my Submission</a>
    </div>
    <div>
        <a class="btn" asp-controller="WorkerAccount" asp-action="CreateTool">Create Tool</a>
    </div>
    <div>
        <a class="btn" asp-controller="WorkerAccount" asp-action="CreateDeliveryNote">Create Delivery Note</a>
    </div>
</div>