
@{
    ViewData["Title"] = "PersonalAccount";
}

<h1 class="text-center">Персональный аккаунт</h1>

<div class="d-flex justify-content-center">
    <div>
        <a class="btn btn-outline-light" asp-controller="WorkerAccount" asp-action="ShowMyTools">Показать инструмент</a>
    </div>
    <div>
        <a class="btn btn-outline-light" asp-controller="WorkerAccount" asp-action="ShowMySubmission">Показать мои заявки</a>
    </div>
    <div>
        <a class="btn btn-outline-light" asp-controller="WorkerAccount" asp-action="CreateWorkerSubmission">Создать заявку</a>
    </div>
    <div>
        <a class="btn btn-outline-light" asp-controller="WorkerAccount" asp-action="ShipmentFromBaseStock">Отправленный материал с базы</a>
    </div>
</div>