@model IEnumerable<AccountingWorkInstruments.DataAccess.Models.Location>
<select id="locationId" name="LocationId">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.NameOfTheOrganization</option>
    }
</select>
