@model AccountingWorksIinstruments.Web.Models.ToolViewModel

@{
    ViewData["Title"] = "CreateTool";
}

<h1>CreateTool</h1>

<h4>ToolViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="CreateTool">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div hidden class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
            <label asp-for="LocationId" class="control-label"></label>
            <input asp-for="LocationId" class="form-control" />
            <span asp-validation-for="LocationId" class="text-danger"></span>
        </div>
            @*<div class="form-group">
            <label asp-for="NameOfTheOrganization" class="control-label"></label>
            <input asp-for="NameOfTheOrganization" class="form-control" />
            <span asp-validation-for="NameOfTheOrganization" class="text-danger"></span>
        </div>*@
            <div>
                <label asp-for="NameOfLocation" class="control-label">Name of Location</label>
                @Html.DropDownList("NameOfLocation", ViewBag.Locations as SelectList, new { id = "nameOfLocation" })
            </div>
            <div hidden class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <input asp-for="StatusId" class="form-control"/>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="StatusDiscription" class="control-label">Status</label>
                @Html.DropDownList("StatusDiscription", ViewBag.Status as SelectList, new { id = "statusDiscription" })
            </div>
            <label asp-for="PosterImage" class="control-label">Poster-Image</label>
            <div class="custom-file">
                <input type="file" asp-for="PosterImage" class="custom-file-input" id="customFile" />
                <label class="custom-control-label" for="customFile">Choose File</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Tool" asp-controller="Tool">Back to List</a>
</div>

<script type="text/javascript">
    $(function() {
        $('#nameOfLocation').change(function()
        {
            var id = $(this).val();
            $.ajax({
                type:'GET',
                url: '@Url.Action("GetItemsPartial")/' + id
                succes: function (data) {
                    $('#statusId').replaceWith(data);
            });
        });
    })
</script>