@model AccountingWorksIinstruments.Web.Models.PositionViewModel

@{
    ViewData["Title"] = "DeletePosition";
}

<h1>DeletePosition</h1>
<h3>Are you sure you want to delete this</h3>
<h4>PositionViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DeletePosition">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label type="hidden" asp-for="Id" class="control-label"></label>
                <input type="hidden" asp-for="Id" class="form-control" />
                <span type="hidden" asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Positions" asp-controller="Position">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
