<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RKP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/cssHead.css" type="text/css"/>
    @*<style type="text/css" data-type="vc_shortcodes-custom-css">
        /*.vc_custom_1614089927906 {
            background-image: url(images/bg-new2.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }*/

        /*.vc_custom_1541335518604 {
            margin-top: 30px !important;
            padding-right: 15px !important;
            padding-left: 15px !important;
        }*/

       /* .vc_custom_1545406029701 {
            background-image: url(wp-content/uploads/2018/11/bg-o-nas.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }*/

        /*.vc_custom_1545406039691 {
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }*/

        /*.vc_custom_1570427988128 {
            background-image: url(wp-content/uploads/2019/09/usl-1.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }*/

        /*.vc_custom_1570428214876 {
            background-image: url(wp-content/uploads/2019/09/usl-2.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }*/

        /*.vc_custom_1570428409026 {
            background-image: url(wp-content/uploads/2019/09/usl-3.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }*/

        /*.vc_custom_1570428419065 {
            background-image: url(wp-content/uploads/2019/09/usl-4.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }*/

        /*.vc_custom_1570428643420 {
            background-image: url(wp-content/uploads/2019/09/usl-5.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }*/

        /*.vc_custom_1569596028974 {
            background-image: url(wp-content/uploads/2019/09/usl-6.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }*/

        ./*vc_custom_1538490193765 {
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .vc_custom_1538490199423 {
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .vc_custom_1538490205606 {
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }*/

        /*.vc_custom_1545406188052 {
            background-image: url(wp-content/uploads/2018/10/servise-1.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }*/

        /*.vc_custom_1545406197794 {
            background-image: url(wp-content/uploads/2018/11/zakazchiki.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }*/

        /*.vc_custom_1545406204604 {
            background-image: url(wp-content/uploads/2018/11/pazresh-doc.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .vc_custom_1550745682883 {
            padding-bottom: 15px !important;
        }

        .vc_custom_1587562261612 {
            background-color: #ffffff !important;
        }*/
    </style>
    @*<link rel='dns-prefetch' href='//fonts.googleapis.com'>*@
    @*<link rel='dns-prefetch' href='//s.w.org'>*@
    @*<link href='https://fonts.gstatic.com' crossorigin="" rel='preconnect'>*@
    @*<link rel="alternate" type="application/rss+xml" title="Ремкотлопроект &raquo; Лента" href="feed/index.htm">*@
    @*<link rel="alternate" type="application/rss+xml" title="Ремкотлопроект &raquo; Лента комментариев" href="comments/feed/index.htm">*@
    @*<script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "http:\/\/rkpbel.by\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.2.3" } };
        !function (a, b, c) { function d(a, b) { var c = String.fromCharCode; l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0); var d = k.toDataURL(); l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0); var e = k.toDataURL(); return d === e } function e(a) { var b; if (!l || !l.fillText) return !1; switch (l.textBaseline = "top", l.font = "600 32px Arial", a) { case "flag": return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b); case "emoji": return b = d([55357, 56424, 55356, 57342, 8205, 55358, 56605, 8205, 55357, 56424, 55356, 57340], [55357, 56424, 55356, 57342, 8203, 55358, 56605, 8203, 55357, 56424, 55356, 57340]), !b }return !1 } function f(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d"); for (j = Array("flag", "emoji"), c.supports = { everything: !0, everythingExceptFlag: !0 }, i = 0; i < j.length; i++)c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (h = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>*@
    @*<style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>*@
    @*<link rel='stylesheet' id='wp-block-library-css' href='~/wp-includes/css/dist/block-library/style.min.css?ver=5.2.3' type='text/css' media='all'>*@
    @*<link rel='stylesheet' id='contact-form-7-css' href='wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.1.4' type='text/css' media='all'>*@
    @*<link rel='stylesheet' id='twentyseventeen-fonts-css' href='css?family=Libre+Franklin%3A300%2C300i%2C400%2C400i%2C600%2C600i%2C800%2C800i&#038;subset=latin%2Clatin-ext' type='text/css' media='all'>*@
    @*<link rel='stylesheet' id='twentyseventeen-style-css' href='~/css/style.css?ver=5.2.3' type='text/css' media='all'>*@
    <!--[if lt IE 9]>
    <link rel='stylesheet' id='twentyseventeen-ie8-css'  href='http://rkpbel.by/wp-content/themes/twentyseventeen/assets/css/ie8.css?ver=1.0' type='text/css' media='all' />
    <![endif]-->
    <!--[if lt IE 9]>
    <link rel='stylesheet' id='vc_lte_ie9-css'  href='http://rkpbel.by/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css?ver=6.0.5' type='text/css' media='screen' />
    <![endif]-->
    @*<link rel='stylesheet' id='js_composer_front-css' href='wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=6.0.5' type='text/css' media='all'>*@
    @*<link rel='stylesheet' id='popup-maker-site-css' href='wp-content/uploads/pum/pum-site-styles.css?generated=1576489677&#038;ver=1.8.11' type='text/css' media='all'>*@
    @*<script type='text/javascript' src='~/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp'></script>*@
    @*<script type='text/javascript' src='~/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>*@
    <!--[if lt IE 9]>
    <script type='text/javascript' src='http://rkpbel.by/wp-content/themes/twentyseventeen/assets/js/html5.js?ver=3.7.3'></script>
    <![endif]-->
    @*<link rel='https://api.w.org/' href='wp-json/index.htm'>*@
    @*<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://rkpbel.by/xmlrpc.php?rsd">*@
    @*<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/wp-includes/wlwmanifest.xml">*@
    @*<meta name="generator" content="WordPress 5.2.3">*@
    @*<link rel="canonical" href="index.htm">*@
    @*<link rel='shortlink' href='index.htm'>*@
    @*<link rel="alternate" type="application/json+oembed" href="wp-json/oembed/1.0/embed?url=http%3A%2F%2Frkpbel.by%2F">*@
    @*<link rel="alternate" type="text/xml+oembed" href="wp-json/oembed/1.0/embed-1?url=http%3A%2F%2Frkpbel.by%2F&#038;format=xml">*@
    @*<meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress.">*@
    <style id="twentyseventeen-custom-header-styles" type="text/css">
        .site-title,
        .site-description {
            position: absolute;
            clip: rect(1px, 1px, 1px, 1px);
        }
    </style>
    <link rel="icon" href="wp-content/uploads/2018/11/favicin-100x100.png" sizes="32x32">
    @*<link rel="icon" href="wp-content/uploads/2018/11/favicin.png" sizes="192x192">*@
    @*<link rel="apple-touch-icon-precomposed" href="wp-content/uploads/2018/11/favicin.png">*@
    @*<meta name="msapplication-TileImage" content="http://rkpbel.by/wp-content/uploads/2018/11/favicin.png">*@
    @*<noscript>
        <style>
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>*@
</head>

<body class="home bodyImage page-template-default page page-id-8 wp-custom-logo twentyseventeen-front-page page-one-column title-tagline-hidden colors-light wpb-js-composer js-comp-ver-6.0.5 vc_responsive">
    <div id="page" class="site">
        <div >
            <header id="masthead" class="site-header" role="banner">

                <div class="container" >
                    <div class="row">
                        <div class="col-12">
                            <div class="row top-info">
                                <div class="top-adres">
                                    <p>246014, г. Гомель, ул. Калинина 22, офис 106</p>
                                </div>
                                <div class="top-phone">
                                    <p><a href="tel:+375 (44) 555-96-70">+375 (44) 555-96-70</a><a href="tel:+375 (44) 555-23-75">+375 (44) 555-23-75</a></p>
                                </div>
                                <div class="top-form">
                                    <p><a class="popmake-214" href="#">Обратная связь</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row align-items-center">
                                <div class="col-lg-1 stb">
                                    <img src="~/images/Logo/stb.png" alt="СтБ iso 9001">
                                </div>
                                <div class="col-lg-3 header-logo">
                                    <div class="custom-header">

                                        <div class="custom-header-media">
                                        </div>

                                        <div class="site-branding">
                                            <div class="container">
                                                <div class="row">
                                                    <a asp-controller="Home" asp-action="Index" class="custom-logo-link" rel="home"><img width="350" height="92" src="~/images/Logo/cropped-logotip.png"></a>
                                                    <div class="site-branding-text">
                                                        <h2 class="site-title"><a href="index.htm" rel="home">Ремкотлопроект</a></h2>

                                                    </div><!-- .site-branding-text -->
                                                </div>



                                            </div><!-- .wrap -->
                                        </div><!-- .site-branding -->

                                    </div><!-- .custom-header -->
                                </div>
                                <div class="col-lg-7 header-menu">
                                    <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Верхнее меню">
                                        <button class="menu-toggle" aria-controls="top-menu" aria-expanded="false">
                                            <svg class="icon icon-bars" aria-hidden="true" role="img"> <use href="#icon-bars" xlink:href="#icon-bars"></use> </svg><svg class="icon icon-close" aria-hidden="true" role="img"> <use href="#icon-close" xlink:href="#icon-close"></use> </svg>Меню
                                        </button>

                                        <div class="menu-menu-container">
                                            <ul id="top-menu" class="menu">
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                                <div class="col-lg-1 tpby">
                                    <img src="~/images//Logo/tp-by.png" alt="TPby">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
                            <div class="container">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                    <partial name="_LoginPartial" />
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

            </header><!-- #masthead -->
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer footer border-top footer">
        <div @*class="container"*@>
            <div class="row">
                <div class="col-12">
                    <p>ООО "РемКотлоПроект"<br>
                    <span>2014-2021 &copy; Любая информация на сайте защищена авторскими правами. Любое копирование, воспроизведение или распространение информации сайта строго по согласию руководства</span>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

@*<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Index</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Position" asp-action="Positions">Position</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Location" asp-action="Locations">Location</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tool" asp-action="Tool">Tool</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Stock" asp-action="StockAccount">Stock Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="WorkerAccount" asp-action="PersonalAccount">Worker Account</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - AccountingWorksIinstruments.Web - <a asp-area="" asp-controller="Home" asp-action="Position">Position</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>*@
</html>
