<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RKP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/cssHead.css" type="text/css"/>
   
    <style id="twentyseventeen-custom-header-styles" type="text/css">
        .site-title,
        .site-description {
            position: absolute;
            clip: rect(1px, 1px, 1px, 1px);
        }
    </style>
    <link rel="icon" href="wp-content/uploads/2018/11/favicin-100x100.png" sizes="32x32">
</head>

<body class="home bodyImage page-template-default page page-id-8 wp-custom-logo twentyseventeen-front-page page-one-column title-tagline-hidden colors-light wpb-js-composer js-comp-ver-6.0.5 vc_responsive">
    <div id="page" class="site">
        <div>
            <header id="masthead" class="site-header" role="banner">

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="row top-info">
                                <div class="top-adres">
                                    <p>246014, г. Гомель, ул. Калинина 22, офис 106</p>
                                </div>
                                <div class="top-phone">
                                    <p><a href="tel:+375 (44) 555-96-70">+375 (44) 555-96-70</a><a href="tel:+375 (44) 555-23-75">+375 (44) 555-23-75</a></p>
                                </div>
                                <div class="top-form">
                                    <p><a class="popmake-214" href="#">Обратная связь</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row align-items-center">
                                <div class="col-lg-1 stb">
                                    <img src="~/images/Logo/stb.png" alt="СтБ iso 9001">
                                </div>
                                <div class="col-lg-3 header-logo">
                                    <div class="custom-header">

                                        <div class="custom-header-media">
                                        </div>

                                        <div class="site-branding">
                                            <div class="container">
                                                <div class="row">
                                                    <a asp-controller="Home" asp-action="Index" class="custom-logo-link" rel="home"><img width="350" height="92" src="~/images/Logo/cropped-logotip.png"></a>
                                                    <div class="site-branding-text">
                                                        <h2 class="site-title"><a href="index.htm" rel="home">Ремкотлопроект</a></h2>

                                                    </div><!-- .site-branding-text -->
                                                </div>



                                            </div><!-- .wrap -->
                                        </div><!-- .site-branding -->

                                    </div><!-- .custom-header -->
                                </div>
                                <div class="col-lg-7 header-menu">
                                    <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Верхнее меню">
                                        <button class="menu-toggle" aria-controls="top-menu" aria-expanded="false">
                                            <svg class="icon icon-bars" aria-hidden="true" role="img"> <use href="#icon-bars" xlink:href="#icon-bars"></use> </svg><svg class="icon icon-close" aria-hidden="true" role="img"> <use href="#icon-close" xlink:href="#icon-close"></use> </svg>Меню
                                        </button>

                                        <div class="menu-menu-container">
                                            <ul id="top-menu" class="menu">
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                                <div class="col-lg-1 tpby">
                                    <img src="~/images//Logo/tp-by.png" alt="TPby">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
                            <div class="container">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                                    <partial name="_LoginPartial" />
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

            </header><!-- #masthead -->
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <footer class="site-footer border-top footer">
        <div @*class="container"*@>
            <div class="row">
                <div class="col-12">
                    <p>
                        ООО "РемКотлоПроект"<br>
                        <span>2014-2022 &copy; Любая информация на сайте защищена авторскими правами. Любое копирование, воспроизведение или распространение информации сайта строго по согласию руководства</span>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
