@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
        .ToList();
}

<form asp-controller="Home" asp-action="SetLanguage"
      asp-route-returnUrl="@Context.Request.Path"
      method="post" class="form-horizontal nav-link bg-orange">
    <span class="icon-sphere"></span> <span>@Localizer["Language"]</span>
    @{ 
        if (requestCulture.RequestCulture.UICulture.Name == "ru-RU")
        {
            <span class="flag-icon flag-icon-ru"></span>
        }
        else if (requestCulture.RequestCulture.UICulture.Name == "en-US")
        {
            <span class="flag-icon flag-icon-gb"></span>
        }
    }
    <select style="color:black" name="culture" onchange="this.form.submit();"
            asp-for="@requestCulture.RequestCulture.UICulture.Name"
            asp-items="cultureItems"></select>

</form>
