@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="d-flex justify-content-center">
    <h1 class="badge badge-danger" style="font-size:500%">Внимание!</h1>
 </div>
<div class="d-flex justify-content-center">
    <h2 class="badge badge-danger" style="font-size:500%">Произошла ошибка</h2>
</div>
    <div class="d-flex justify-content-center">
        <p class="badge badge-danger" style="font-size:150%">@Model.Message</p>
    </div>
    

