@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <div>
        <a class="btn-dark" asp-controller="Stock" asp-action="SubmissionsFromWorkers">Submission</a>
    </div>
    <div>
        <a class="btn" asp-controller="Stock" asp-action="HistoryOfADeliveryNotes">History of Delivery</a>
    </div>
    <div>
        <a class="btn" asp-controller="Tool" asp-action="CreateTool">Create Tool</a>
    </div>
    <div>
        <a class="btn" asp-controller="Stock" asp-action="CreateDeliveryNote">Create Delivery Note</a>
    </div>
    <div>
        <a class="btn" asp-controller="Stock" asp-action="WriteOffTools">Write off tools</a>
    </div>
    <div>
        <a class="btn" asp-controller="Stock" asp-action="TransferTool">Transfer Tool</a>
    </div>
</div>