@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-center">Аккаунт кладовщика</h1>
<div class="d-flex justify-content-center">
    <div>
        <a class="btn btn-outline-light" asp-controller="Stock" asp-action="SubmissionsFromWorkers">Заявки</a>
    </div>
    <div>
        <a class="btn btn-outline-light" asp-controller="Stock" asp-action="HistoryOfADeliveryNotes">История отправок</a>
    </div>
    <div>
        <a class="btn btn-outline-light" asp-controller="Tool" asp-action="CreateTool">Новый инструмент</a>
    </div>
    <div>
        <a class="btn btn-outline-light" asp-controller="Stock" asp-action="CreateDeliveryNote">Создать новую заявку</a>
    </div>
    <div>
        <a class="btn btn-outline-light" asp-controller="Stock" asp-action="CreateWriteOffTool">Списание инструмента</a>
    </div>
    <div>
        <a class="btn btn-outline-light" asp-controller="Stock" asp-action="ChooseWorkers">Перемещение инструмента</a>
    </div>
    <div>
        <a class="btn btn-outline-light" asp-controller="Tool" asp-action="Tool">Инструмент</a>
    </div>
    <div>
        <a class="btn btn-outline-light" asp-controller="Location" asp-action="Locations">Организации</a>
    </div>
</div>